* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    background-color: #FFF5E2;
    width: 100%;
    height: 100vh;
}

/* comuni */
.clearfix::after {
    content: '';
    clear: both;
    display: table;
}
.inline {
    display: inline;
    font-size: 20px;
    font-weight: 500;

}


/* header */
.start {
    position: relative;
    width: 60%;
    height: 150px;
    background-color: #FDBB41;
    margin: 0 auto;
}

h1 {
    padding: 60px 70px;
    font-size: 250%;
}

#panino {
    position: absolute;
    top: -30px;
    left: 85%;
}

/* fine header */

/* inizio main */
main {
    width: 60%;
    height: calc(100% - 250px);
    background-color: white;
    margin: 0 auto;
}

.nomePanino > input {
    padding: 30px 70px;
    border: none;
    font-size: 25px;
    outline: none;
    font-weight: 700;
}
.ingredienti {
    width: 100%;
    height: 50%;
}

.ingredienti > h2 {
    padding: 10px 70px;  
}

.ingredienti img {
    width: 20%;
    margin-left: 70px;
}

.colonna1 > div,
.colonna2 > div {
    width: 60%;
    padding: 20px 0;
}

.colonna1 > div > span,
.colonna2 > div > span {
    margin-left: 20px;
}

.colonna1,
.colonna2  {
    float: left;
}

.sconto {
    width: 100%;
    margin: 100px 0 0 70px;
}

.sconto > span {
    font-size: 20px;
    font-weight: 500;
}

#inp {
    width: 600px;
    height: 35px;
    background-color: #FFF5E2;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-left: 20px;
}

#bottone {
    width: 150px;
    height: 60px;
    border-radius: 10px;
    background-color: #FDBB40;
    border: none;
    font-size: 20px;
    font-weight: 600;
    margin-top: 40px;
    margin-left: 400px;
}

/* fine main */


/* footer */
.prezzo  {
    width: 60%;
    height: 100px;
    margin: 0 auto;
    background-color: #D33359;
}

.prezzo h2 {
    font-size: 25px;
    padding: 40px;
    color: white;
}